// * <---- SCSS IDENTIFIERS ---->

$primary-background: #C96567;
$secondary-background: #314455;
$ternary-background: #9E5A63;
$accent-background:#439F76;
$button-back-1: #12C998;
$button-back-2: rgb(188, 120, 222);
$big-button-text: rgb(33, 129, 213);
$controls-color: #314455;
$body-text: black;
$head-color: rgb(255, 255, 255);
$accent-text: rgb(108, 123, 171);
$alt-text: #F070A1;
$main-font: 'Press Start 2P', cursive;
$retro-shadow: 4px 4px 0px #b8aaaa, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
$depth-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);



// * <---- LARGE PARENT ELEMENT STYLES ---->
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  // border: solid red 1px;
}

body {
    background-color: $primary-background;
    // background-image: url(https://wallpapercave.com/wp/wp1895667.png);
    font-family: $main-font;
    color: black;
    height: 97vh;
    width: 100vw;
    text-align: center;
}

main {
  height: 78%;
  position: relative;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
}


// * <---- MODALS ----->
.div--modal-background {
  // display: none;
  background-color: $secondary-background;
  min-height: 120vh;
  min-width: 100vw;
  opacity: .7;
  position: fixed;
  z-index: 2000;
}

.div--modal-setup {
  // display: none;
  flex-direction: column;
  position: fixed;
  left: 10%;
  min-width: 80vw;
  top: 20%;
  z-index: 3000;
  
  .form--player-setup {
    background: $ternary-background;
    display: flex;
    flex-direction: column;
    height: 65vh;
    border-radius: 50px;
    border: 5px solid $accent-background;
    justify-content: space-around;
    z-index: 3000;
  }
}  

.input--player1,
.input--player2,
.input--player3 {
  width: 50%;
  margin: auto;
  height: 8vh;
  border: 2px solid ;
  font-size: 1.2em;
  border-radius: 5px;
  background: $secondary-background;
  font-family: $main-font;
  padding-left: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.button--start {
    display: inline-block;
    background: $accent-background;
    border: 2px solid darken($secondary-background, 5%);
    padding: .5em 2em;
    height: 100px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    font-family: $main-font;
    width: 50%;
    margin: auto;
    box-shadow: inset 0px 1px 0px fadeout(black, 80%)  
}

.div--modal-start-screen {
  display: none;
}

.div--modal-category {
  display: none;
}

.div--modal-round-summary { 
  display: none;
}

.div--modal-solution,
.div--modal-incorrect {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 10%;
  min-width: 80vw;
  top: 20%;
  z-index: 3000;
  
  .form--player-setup {
    background: $ternary-background;
    display: flex;
    flex-direction: column;
    height: 65vh;
    border-radius: 50px;
    border: 5px solid $accent-background;
    justify-content: space-around;
    z-index: 3000;
  }

}

// * <---- MAIN ----->
header {
  font-size: 4em;
  font-family: $main-font;
  font-weight: 900;
  color: $head-color;
  margin: 0, ;
  margin-top: 2vh;
  text-shadow: $depth-shadow;    
}

.span--new-game{
  background: $button-back-2;
  border-radius: 5px; 
  font-size: .9em;
  position: absolute;
  width: 12%;
  border: 3px solid $secondary-background;
  height: 8%;
  right: 0;
  padding: .5em;
  margin-right: 1%;
}

.players--section {
  position: absolute;
  margin: 13% 0 0 1%;
  background: $secondary-background;
  width: 12%;
  color: white;
  font-size: .7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 3px $accent-background;
  height: 30%;
}

.section--round-disp {
  background: $secondary-background;
  height: 14%;
  color: white;
  width: 12%;
  border: solid 3px $accent-background;
  padding: .5%;
  margin: 25px 0 2% 1%;
  position: absolute;
}

.div--round-disp{
  margin-top: 10px;
  font-size: 2rem;
}

.section--description {
  height: 70%;
  width: 70%;
  position: relative;
  text-align: center;
  margin: 30px 20px 0 0;
  border: 3px solid $accent-background;
  background-color: $secondary-background;
  display: inline-block;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  .span--puzzle-display {
    display: flex;
    flex-direction: column;
  }

    .div--puzz-set{
      margin: 2vh;
      font-size: 3.5em;

    }

    .symbol-container {
      margin: auto;
      margin-top: 0;
      margin-bottom: 0;
      width: fit-content;
      padding: 1px;
      color: white;
      background: $button-back-1;
      border: 2px solid $accent-text;
    }

    .char-container {
      margin: .4rem;
      padding: 1px;
      color: white;
      background: $button-back-1;
      border: 2px solid $accent-text;
    
    
      
      .char {
      }
      
      .hidden {
        visibility: hidden;
        // color: green;  
      }
    }
    .letter {
      
    }

  .div--category-display {

  }

  p {
    color: white;
  }



  .div--used-letters {
    display: inline-block;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    opacity: 90%;
    margin-right: 20px;
    background: $accent-background;
    width: 100%;
    left: 0;
    border-top: 3px solid $accent-text;

    h4{
      color: $primary-background;
    }

    span {
      color: white;
    }
  }
}



.section--cur-player {
  position: absolute;
  width: 14%;
  height: 100px;
  background: $secondary-background;
  display: inline-block;
  margin-top: 44vh;
  text-align: center;
  border: solid 3px $accent-background;
  border-radius: 10px;

  p {
    color: green;
    font-size: 1rem;
    margin: .6rem 0 1rem 0;
  }

  div {
    font-size: .9rem;
    color: $button-back-2;
  }
}

.spin-box {
  background-color: $button-back-1;
  position: absolute;
  width: 14%;
  display: inline-block;
  margin: auto;
  margin-top: 10vh;
  height: 30%; 
  text-align: center;
  padding-top: 3%;
  border-radius: 13px;
  border: 11px solid $secondary-background;
  
  p {
    color: green;
    font-size: 1.6vw;
    margin-bottom: 40px;
  }

  span {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $button-back-2;
  }
}



// * <---- FOOTER ----->

.footer--player-controls {
  display: flex;
  background-color: $controls-color;
  height: 20vh;
  border-top: 3px solid $accent-background;
  box-shadow: 0 50vh 0 50vh $controls-color;
  padding-top: 2rem;
}

.section--player-buttons {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

// .button--spin {
//   color: white;
//   display: inline;
//   height: 1em;
//   font-size: 1.8rem;
//   box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
//   width: 1em;
//   border-radius: 50%;
//   text-shadow: $retro-shadow;
//   background: rgb(66, 184, 221);
//   border: solid 1px white;
//   font-family: $main-font;
// }
.button--spin {
    color: $big-button-text;
    display: inline;
    height: 150px;
    width: 150px;
    background: $button-back-1;
    font-size: 1.8em;
    box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
    border-radius: 50%;
    text-shadow: $retro-shadow;
    border: solid 1px white;
    font-family: $main-font;
}


.button--spin:hover {
  color: black;
  // background-color: grey;
  // transition-delay: .15s;
}

.button--spin:active {
  box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
  color: white;
  border: solid 1px yellow;
}

.button--guess-solution {
  color: white;
  display: inline;
  font-family: $main-font;
  height: 150px;
  font-size: 1em;
  box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
  width: 150px;
  text-shadow: $retro-shadow;
  border-radius: 50%;
  background: rgb(66, 184, 221);
  border: solid 1px white;
}

.button--guess-solution:hover {
  color: black;
  // background-color: grey;
  // transition-delay: .15s;
}

.button--guess-solution:active {
  box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
  color: white;
  border: solid 1px yellow;
}


// .section--player-name {
  
  // }
  
  
  
  .button {
    outline: none;
  }
  
  .button--spin:hover {
    color: black;
    // background-color: grey;
    // transition-delay: .15s;
  }
  
  .button--spin:active {
    box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
    color: $big-button-text;
    border: solid 1px yellow;
  }
  
  .button--guess-solution {
    color: $big-button-text;
    display: inline;
    font-family: $main-font;
    height: 150px;
    font-size: 1em;
    box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
    width: 150px;
    text-shadow: $retro-shadow;
    border-radius: 50%;
    background: $button-back-2;
    border: solid 1px white;
  }
  
  .button--guess-solution:hover {
    color: black;
    // background-color: grey;
    // transition-delay: .15s;
  }
  
  .button--guess-solution:active {
    box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
    color: $big-button-text;
    border: solid 1px yellow;
  }
  
  
  .form--player-guess,
  .form-buy-vowel {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  
  .form-buy-vowel {
  }
  
  
  // .form--player-guess {
    
    // }
  
  .label {
      font-size: 2em;
      font-weight: 300;
      color: $accent-text;
      text-shadow: $depth-shadow;
      margin: 15px 0;
    }
    
.input--buy-vowel,
.input--player-guess {
    width: 50%;
    height: 35px;
	  padding-left: 15px;
    border: none;
    font-family: $main-font;
    outline: none;
    // text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    background: rgba(52, 152, 182, 0.2);
    // 
  }

  input:focus::placeholder{
       color:transparent;
  }

.button--guess,
.button--buy-vowel {
  display: inline-block;
    background: $accent-background;
    border: 2px solid darken($secondary-background, 5%);
    padding: .5em 2em;
    color: white;
    border-radius: 20px;
    font-family: $main-font;
    width: 50%;
    margin: auto;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%)
  }
    // .input--player-guess {
      
      // }
      
      // .button--guess {
        
        // }
        
        // .form-buy-vowel {
          
          // }
          
          // .label--buy-vowel {

// }

// .input--buy-vowel {

// }

// .button--buy-vowel {

// }


// .button--guess-solution {
  
// }

// .label--solution {

// }

// .input--solution {

// }


