// * <---- SCSS IDENTIFIERS ---->

$neutral: #BABABA;
$primary-background: rgb(235, 108, 99);
$secondary-background: #F070A1;
$accent-background:#439F76;
$body-text: black;
$accent-text: #C34271;
$alt-text: #F070A1;



// * <---- ELEMENT STYLES ---->
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
background-color: $primary-background;
font-family: 'Karla', sans-serif;
color: black;
height: 100vh;
width: 100vw;
text-align: center;
display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "main main main main main main main main main" 
  "main main main main main main main main main" 
  "main main main main main main main main main" 
  "main main main main main main main main main" 
  "main main main main main main main main main" 
  "main main main main main main main main main" 
  "main main main main main main main main main" 
  "footer footer footer footer footer footer footer footer footer"
  "footer footer footer footer footer footer footer footer footer" 
  "footer footer footer footer footer footer footer footer footer";
}

header {
font-size: 6em;
font-family: 'Ubuntu', sans-serif;
font-weight: 900;
color: rgb(241, 241, 235);
margin: 0, ;
margin-top: 2vh;
text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
}

main {
  grid-area: main;
  height: 100%;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
}


// * <---- MODALS ----->
.div--modal-background {
  display: flex;
  background-color: grey;
  min-height: 100vh;
  min-width: 100vw;
  opacity: .5;
  position: fixed;
  z-index: 2000;
}

.div--modal-setup {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10%;
  min-width: 80vw;
  top: 20%;
  z-index: 3000;
  
  .form--player-setup {
    background: black;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
    z-index: 3000;
  }
}  

.div--modal-start-screen {
  display: none;
}

.div--modal-category {
  display: none;
}

.div--modal-round-summary { 
  display: none;
}

.div--modal-solution {
  display: none;
}

// * <---- MAIN ----->

.label {
  font-size: 2em;
  color: rgb(78, 46, 111);
  font-weight: 400;
}

// * <---- FOOTER ----->

.footer--player-controls {
  display: flex;
}

// .section--player-name {

// }

.section--player-buttons {
  display: flex;
  flex-direction: column;
}

.button--spin {
  color: white;
  height: 200px;
  font-size: 40px;
  box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
  width: 200px;
  border-radius: 50%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  border: solid 1px white;
}

.button--spin:hover {
  color: black;
  // background-color: grey;
  // transition-delay: .15s;
}

.button--spin:active {
  box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
  color: white;
  border: solid 1px yellow;
}


// .form--player-guess {

// }

// .label--player-guess {
  
// }

// .input--player-guess {

// }

// .button--guess {

// }

// .form-buy-vowel {

// }

// .label--buy-vowel {

// }

// .input--buy-vowel {

// }

// .button--buy-vowel {

// }

// .button--guess-solution {
  
// }

// .label--solution {

// }

// .input--solution {

// }


