// * <---- SCSS IDENTIFIERS ---->

$neutral: #BABABA;
$primary-background: rgb(235, 108, 99);
$secondary-background: #F070A1;
$accent-background:#439F76;
$body-text: black;
$accent-text: #C34271;
$alt-text: #F070A1;
$main-font: 'Press Start 2P', cursive;
$retro-shadow: 4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);



// * <---- ELEMENT STYLES ---->
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid red 1px;
}

body {
    background-color: $primary-background;
    font-family: $main-font;
    color: black;
    height: 100vh;
    width: 100vw;
    text-align: center;
// display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-areas: 
//   "main main main main main main main main main" 
//   "main main main main main main main main main" 
//   "main main main main main main main main main" 
//   "main main main main main main main main main" 
//   "main main main main main main main main main" 
//   "main main main main main main main main main" 
//   "main main main main main main main main main" 
//   "footer footer footer footer footer footer footer footer footer"
//   "footer footer footer footer footer footer footer footer footer" 
//   "footer footer footer footer footer footer footer footer footer";
}

header {
    font-size: 4em;
    font-family: $main-font;
    font-weight: 900;
    color: rgb(241, 241, 235);
    margin: 0, ;
    margin-top: 2vh;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);    
}

main {
  height: 78%;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
}


// * <---- MODALS ----->
.div--modal-background {
  display: none;
  background-color: grey;
  min-height: 100vh;
  min-width: 100vw;
  opacity: .5;
  position: fixed;
  z-index: 2000;
}

.div--modal-setup {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 10%;
  min-width: 80vw;
  top: 20%;
  z-index: 3000;
  
  .form--player-setup {
    background: black;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
    z-index: 3000;
  }
}  

.div--modal-start-screen {
  display: none;
}

.div--modal-category {
  display: none;
}

.div--modal-round-summary { 
  display: none;
}

.div--modal-solution {
  display: none;
}

// * <---- MAIN ----->

.label {
  font-size: 2em;
  color: rgb(78, 46, 111);
  font-weight: 400;
}

.section--description {
  height: 70%;
  width: 70%;
  float: right;
  margin: 20px 20px 0 0;
  border: 3px white solid;
  background-color: $secondary-background;
  display: inline-block;
}

// * <---- FOOTER ----->

.footer--player-controls {
  display: flex;
}

// .section--player-name {

// }


.button--spin {
  color: white;
  display: inline;
  height: 150px;
  font-size: 1.8em;
  box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
  width: 150px;
  border-radius: 50%;
  text-shadow: $retro-shadow;
  background: rgb(66, 184, 221);
  border: solid 1px white;
  font-family: $main-font;
}


.button--spin:hover {
  color: black;
  // background-color: grey;
  // transition-delay: .15s;
}

.button--spin:active {
  box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
  color: white;
  border: solid 1px yellow;
}

.button--guess-solution {
  color: white;
  display: inline;
  font-family: $main-font;
  height: 150px;
  font-size: 1em;
  box-shadow: 2px 7px 50px -7px rgba(0,0,0,0.98);
  width: 150px;
  text-shadow: $retro-shadow;
  border-radius: 50%;
  background: rgb(66, 184, 221);
  border: solid 1px white;
}

.button--guess-solution:hover {
  color: black;
  // background-color: grey;
  // transition-delay: .15s;
}

.button--guess-solution:active {
  box-shadow: 2px 5px 41px -2px rgba(0,0,0,0.98);
  color: white;
  border: solid 1px yellow;
}

.section--player-buttons {
  display: flex;
  // height: 100%;
  justify-content: space-around;
}

.form--player-guess {
  display: inline;
}

.form-buy-vowel {
  display: inline;
}


// .form--player-guess {

// }

// .label--player-guess {
  
// }

// .input--player-guess {

// }

// .button--guess {

// }

// .form-buy-vowel {

// }

// .label--buy-vowel {

// }

// .input--buy-vowel {

// }

// .button--buy-vowel {

// }


// .button--guess-solution {
  
// }

// .label--solution {

// }

// .input--solution {

// }


